.gallery {
  padding: 2rem;
  height: calc(100vh - 5rem);
  box-sizing: border-box;
  overflow-y: auto;

  &_items {
    margin: 0;
    list-style: none;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
  }

  &_item {
    position: relative;

    &:hover {
      .gallery_remove {
        display: block;
      }
    }
  }

  &_img {
    max-width: 100%;
  }

  &_remove {
    display: none;
    border: none;
    background: white;
    color: #268afd;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.315);
  }

  &_empty {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: span 2;

    span {
      font-size: 3rem;
    }
  }
}
