.gallery {
  padding: 2rem;
  height: calc(100vh - 5rem);
  box-sizing: border-box;
  overflow-y: auto;

  &_items {
    margin: 0;
    list-style: none;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &_img {
    max-width: 100%;
  }
}
