.header {
  height: 5rem;
  background: rgb(41, 41, 46);

  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  h1 {
    color: white;
    text-decoration: none;
    margin: 0 0 0 3rem;
    font-size: 1.2rem;
  }

  &_nav {
    margin-right: 3rem;
    a {
      color: rgb(165, 165, 165);
    }

    a.header_active {
      text-decoration: underline;
      color: white;
    }

    a + a {
      margin-left: 1rem;
    }
  }
}
