.picture {
  padding: 2rem;
  height: calc(100vh - 5rem);
  box-sizing: border-box;
  overflow-y: auto;

  &_container {
    border: 1px solid #cfd6db;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    margin: auto;

    @media only screen and (min-width: 750px) {
      max-width: 65%;
    }

    @media only screen and (min-width: 1025px) {
      max-width: 50%;
    }
  }

  &_header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-flow: row-reverse;
  }

  &_action {
    display: flex;
    align-items: center;
    background: #268afd;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    outline: 0;
    cursor: pointer;

    svg {
      margin: 0 0.5rem;
    }

    &_add {
      background: #268afd;
      color: white;

      svg {
        margin-right: 0;
      }
    }

    &_remove {
      background: #fd2643;
      color: white;

      svg {
        margin-left: 0;
      }
    }

    &_disabled {
      background: white;
      color: gray;
      pointer-events: none;
    }
  }

  &_img {
    max-width: 100%;
  }
}
