.postdetail {
  margin: 2rem 3rem 2rem 2rem;
  background: white;
  border: 1px solid #cfd6db;
  padding: 2rem;
  box-shadow: 1rem 1rem #29292e;

  &_header {
    display: flex;
    justify-content: space-between;
  }

  &_image {
    max-width: 100%;
  }

  &_footer {
    margin-top: 0.5rem;
  }

  &_back {
    color: gray;
    margin: 2rem;
    display: none;

    @media only screen and (max-width: 1024px) {
      display: block;
    }
  }
}
