.post {
  margin: 0;
  padding: 0.8rem 0.8rem 0 0;
  display: flex;

  &_container {
    flex: 1;
  }

  &_status {
    flex-basis: 3rem;
  }

  &_header {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 0.9rem;
    height: 1.5rem;
  }

  &_body {
    display: flex;
    align-items: flex-start;
  }

  &_title {
    flex: 1;
    text-decoration: none;

    h3 {
      margin: 0;
      font-size: 1.2rem;
      color: rgb(39, 39, 39);
    }
  }

  &_footer {
    border-bottom: 1px solid #cfd6db;
    padding-bottom: 0.8rem;
    margin-top: 0.3rem;
    display: flex;

    span {
      display: flex;
      align-items: center;
    }

    svg {
      font-size: 1.2rem;
      margin-right: 0.5rem;
    }
  }

  &_thumbnail {
    margin-left: 1rem;
    max-width: 8rem;
    height: auto;
  }

  &_unread {
    background-color: rgb(38, 138, 253);
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    top: 1.85rem;
    left: 0.8rem;
    position: relative;
  }

  &_dismiss {
    opacity: 0.5;
    background: none;
    border: 1px solid gray;
    outline: none;
    padding: 0.3rem 1rem;
    margin-left: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}
